

body {
  margin-top: 10em;
  background-color: #bad2ed;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

h1{
    text-align:center;
    margin: auto;
    width: 70%;
    padding: 25px;
    border-radius: 15px;
    background-color: #001973;
    color: white;

}
p{
    text-align:center;
    font-size: 30px;
    margin: auto;
    width: 70%

}


#cancel{
  text-align:center;
  position: absolute;
  right: 51%;
  background-color:red;
  width: 300px;
  padding: 15px 32px;
  border-radius: 12px;
  color: white;
}
#confirm{
  text-align:center;
  position: absolute;
  left:51%;
  background-color:green;
  width: 300px;
  padding: 15px 32px;
  border-radius: 12px;
  color: white;
}
