
body {
    margin-top: 10em;
    background-color: #bad2ed;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.header h1{
    margin-left: 1em;
    margin-right: 1em;
    padding: 25px;
    border-radius: 20px;
    background-color: #001973;
    color: white;
    text-align: center;
}

table, td{
    margin: 0 auto;
    padding: 2em 5em;
    text-align: center;
}

.options a:link {
    text-decoration: none;
    color: #001973;
}

.options a:hover {
    text-decoration: underline;
    color: #008770;
}

.emergency a:link{
    float: right;
    margin-right: 2em;
    border-radius: 5px;
    color: white;
    background-color: red;
    padding: 0px 15px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none
}

.emergency a:hover {
    color: #001973;
}

.fancybox-custom .fancybox-bg {
    background: #fcd4c9;
    opacity: 1.0;
}
